body {
  background: radial-gradient(circle at top, #1e293b, #020617);
  color: #fff;
  font-family: system-ui;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

#today {
  text-align: center;
  color: #94a3b8;
  margin-bottom: 20px;
}

.top1 {
  background: linear-gradient(135deg, #facc15, #fb7185);
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  box-shadow: 0 0 40px rgba(250, 204, 21, 0.8);
  margin-bottom: 40px;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
}

.card {
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
